html {
	scroll-behavior: smooth;
	margin: 0;
}
header {
	margin: 0;
}
body {
	margin: 0;
}
ul {
	list-style-type: none;
	overflow: hidden;
	padding-left: 0px;
	margin: 0;
	background-color: #725f45;
	width: 100%;
}
li {
	font-size: 26px;
	display: inline;
	margin: 5px;
	padding-bottom: 10px;
}
li a {
	color: #fff;
	text-decoration: none;
}
li:last-child a {
	position: relative;
	top: 4px;
	background-color: #9c8344;
	border-radius: 5px;
	margin-right: 15px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 1px;
}
img.logo_ini {
	height: 35px;
	width: 35px;
	/*position: relative;
	bottom: 50px;*/
}
.pag_atual {
	color: black;
	background-color: #d3ca97;
	padding: 13px 0px;
}
h1,
h2 {
	color: #725f45;
	text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
	margin-top: 0;
	padding-top: 40px;
}
div.slider {
	text-align: center;
	width: 100%;
	height: 575px;
	margin: 0;
	background-size: cover;
	background-image: url("img/slider_img.jpg");
}
h1 {
	font-family: "Roboto", sans-serif;
}
button.slider_botao {
	font-family: "Roboto", sans-serif;
	font-size: 26px;
	background-color: #008037;
	color: #fff;
	border: 2px solid #008037;
	border-radius: 5px;
	padding: 10px;
	margin-top: 70px;
	cursor: pointer;
	transition: 0.5s;
}
.slider_botao:hover {
	background-color: #fff;
	color: #000;
	border-color: #008037;
}
#vantagens {
	padding-top: 25px;
	padding-bottom: 50px;
	height: auto;
	background-size: cover;
	background-image: url("img/vantagens_bg.jpeg");
}
.block_1 {
	background-color: #d2ca97;
	box-shadow: 5px 5px;
	margin: 0px auto 100px auto;
	width: 70%;
	text-align: center;
}
.block_1::after {
	content: "";
	clear: both;
	display: table;
}
.block_1 p {
	font-size: 24px;
}
.block_1 img {
	float: left;
	padding-left: 10px;
	margin-bottom: auto;
}
.block_2 {
	background-color: #bbb0a5;
	box-shadow: 5px 5px;
	margin: 0px auto 100px auto;
	width: 70%;
	text-align: center;
}
.block_2::after {
	content: "";
	clear: both;
	display: table;
}
.block_2 p {
	font-size: 24px;
}
.block_2 img {
	float: right;
	padding-right: 10px;
	margin-bottom: auto;
}
.block_3 {
	background-color: #e9e8e5;
	box-shadow: 5px 5px;
	margin: 0px auto 0px auto;
	width: 70%;
	text-align: center;
}
.block_3::after {
	content: "";
	clear: both;
	display: table;
}
.block_3 p {
	font-size: 24px;
}
.block_3 img {
	float: left;
	padding-left: 10px;
	margin-bottom: auto;
}
.block_hd {
	font-size: 25px;
}
.opt {
	text-align: center;
	height: auto;
	padding-bottom: 50px;
	background: rgb(187, 176, 165);
	background: linear-gradient(
		0deg,
		rgba(187, 176, 165, 1) 25%,
		rgba(249, 249, 249, 1) 75%
	);
}
.opt h1,
.opt h2 {
	color: #000000;
	text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
	margin-top: 0;
	padding-top: 20px;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
